{% block __dpd_fr_items__shipping_dpd_widget %}
    {% do block|merge_context({
        'checkout': checkout,
        'form': form
    }) %}
    
    <div {{ block('block_attributes') }}>
        {% set postalCode, city, street, phone, google_maps_api_key = '', '', '', '', '' %}
        
        {% if checkout.shippingAddress is not null %}
            {% set postalCode = checkout.shippingAddress.postalCode %}
            {% set city = checkout.shippingAddress.city %}
            {% set street = checkout.shippingAddress.street %}
            {% set phone = checkout.shippingAddress.phone %}
            {% set google_maps_api_key = mapsApiKey %}
        {% endif %}
        
        <div id="dpd_fr_shipping_address" 
            data-city="{{ city }}" 
            data-postal-code="{{ postalCode }}" 
            data-street="{{ street }}" 
            data-phone="{{ phone }}"
            data-google-api="{{ google_maps_api_key }}"
            class="hidden dnddpd-fields grid__row grid__row--offset-none">
            {% if form.delivery_phone is defined %}
                {{ form_widget(form.delivery_phone) }}
            {% endif %}
            {% if form.dpd_fr_relay_id is defined %}
                {{ form_widget(form.dpd_fr_relay_id) }}
            {% endif %}
        </div>
    </div>
{% endblock %}
